{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
  <img src="https://testes-tonin.s3-sa-east-1.amazonaws.com/reserva-logo-3D992791CE-seeklogo.com.png" alt="Reserva"/>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input id="file" name="file" type="file" />
      <button type="submit">Enviar arquivo</button>
    </form>
  </div>
{% endblock %}